asgiref==3.3.1
autopep8==1.5.6
bcrypt==3.2.0
cffi==1.14.4
cryptography==3.3.1
Django==3.1.7
django-filter==2.4.0
djangorestframework==3.12.2
Markdown==3.3.4
networkscan==1.0.9
paramiko==2.7.2
pycodestyle==2.7.0
pycparser==2.20
PyNaCl==1.4.0
pytz==2020.4
RouterOS-api==0.17.0
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
