
{% extends 'base.html' %}
{% load static %}
{% block title %}Router | {% for data in data %}{{data.nama}}{% endfor %} {% endblock title %} 
{% block judul %}
Automations
{% endblock judul %}
{% block content %}
    
    {% for router in router %}
    {{router.nama}} |
    {{router.host}} sebagai
    <strong> {{router.user}}</strong>
    <div class="row mt-4">
   
      {% for auto1 in auto1 %}
        <div class="col-sm-6 ">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title text-danger">{{auto1.nama}}</h5>
              <p class="card-text">{{auto1.deskripsi|truncatechars:180}}</p>
              <a href="{% url 'conpcq1' router.id %}" class="btn btn-primary rounded-pill">Go somewhere</a>
            </div>
          </div>
        </div>
      {% endfor %}

      {% for auto2 in auto2 %}
      <div class="col-sm-6 ">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title text-danger">{{auto2.nama}}</h5>
            <p class="card-text">{{auto2.deskripsi|truncatechars:180}}</p>
            <a href="{% url 'autosetting1' router.id 1 %}" class="btn btn-primary rounded-pill">Go somewhere</a>
          </div>
        </div>
      </div>
      {% endfor %}
 
    </div>

  {% endfor %}
  

{% endblock content %} 
{% block router %}



     {% for router in routerside %}
        <li class="nav-item">
        <a class="nav-link {% if router.id == idk %}shadow text-white bg-info{% endif %}" href="{% url 'router' router.id %}">
            <span data-feather="file-text"> </span><img src="{% static 'icons/wifi.svg' %}" alt="">&nbsp;
            {{router.nama}}
        </a>
    </li>
  
    {% endfor %}
    
{% endblock router %}
