
{% extends 'base.html' %}
{% load static %}
{% block title %}Router | {% for data in data %}{{data.nama}}{% endfor %} {% endblock title %} 
{% block judul %}
Automations
{% endblock judul %}
{% block content %}
    
    {% for data in data %}
    {{data.nama}} |
    {{data.host}} sebagai
    <strong> {{data.user}}</strong>
    <div class="row ">
    {% for auto in auto %}
    <div class="col-sm-6 ">
      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title text-danger">{{auto.nama}}</h5>
          <p class="card-text">{{auto.deskripsi|safe|truncatewords:"10"}}.</p>
          <a href="{% url 'conpcq1' data.id %}" class="btn btn-primary rounded-pill">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>

    {% endfor %}
  

{% endblock content %} 
{% block router %}

   {% for router in router %}
        <li class="nav-item ">
        <a class="nav-link {% if idk == router.id %}shadow text-white bg-info{% endif %}" href="{% url 'router' router.id %}">
            <span data-feather="file-text"> </span><img src="{% static 'icons/wifi.svg' %}" alt="">
            {{router.nama}}
        </a>
    </li>
    {% endfor %}
    
{% endblock router %}
