{% extends 'base.html' %}
 {% load static %} 
 {% block title %} home {% endblock title %} 
 {% block judul %} Automations {% endblock judul %} {% block content %}

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    {% if messages %}
    <script>
    $(document).ready(function(){
      $('.toast').toast('show')
     
    });
  </script>
    {% for message in messages %}
        <div id="liveToast" class="toast bg-info hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-warning text-white">
            <img src="{% static 'icons/bell.svg' %}" class="rounded me-2" alt="...">
            <strong class="me-auto">Result</strong>
            
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body ">
            {{ message }}.
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>



<div id="home" class="home"><p class="shadow p-3 text-xl-start">aplikasi ini adalah aplikasi management bandwidth yang memudahkan pengguna
   melakukan configurasi router mikrotik khususnya bandwidth ada beberapa obsional yang akan mempermudah
    configurasi bandwidth.</p></div>

<button class="btn btn-info" id="trigger" >Mulai otomasi sekarang</button>
<button class="btn btn-warning" style="display: none;"  id="trigger2" ><img style="color: aqua;" src="{% static 'icons/arrow-left-circle.svg' %}" alt="">&nbsp; tidak sekarang</button>



<div style="display: none;" id="getstart">
  {% for router in router|slice:":1" %}
  <h2 class="text-primary">Router: {{router.nama}}</h2>
  <p>silahkan pilih outamasi yang akan di gunakan untuk bandwidth:</p>
  <div class="row">
    {% include 'auto.html' %}
  </div>
  {% endfor %}
</div>

{% endblock content %} {% block routerside %} 
{% for router in router|slice:":1"%}
   {% include 'routerside.html' %}
 {% endfor %} {% endblock routerside %}
