{% extends 'base.html' %}
{% load static %} 
{% block title %} home {% endblock title %} 
{% block judul %} Automations {% endblock judul %} 
{% block content %}

{% include 'message.html' %}


<div id="home" class="home"><p class="shadow-sm p-3 text-xl-start">aplikasi ini adalah aplikasi management bandwidth yang memudahkan pengguna
   melakukan configurasi router mikrotik khususnya bandwidth ada beberapa obsional yang akan mempermudah
    configurasi bandwidth.</p></div>

<button class="btn btn-info" id="trigger" >Mulai otomasi sekarang</button>
<button class="btn btn-secondary" style="display: none;"  id="trigger2" ><img src="{% static 'icons/arrow-left-circle.svg' %}" alt="">&nbsp; tidak sekarang</button>



<div style="display: none;" id="getstart">
  {% for router in router|slice:":1" %}
  <h2 class="text-primary">Router: {{router.nama}}</h2>
  <p>silahkan pilih outamasi yang akan di gunakan untuk bandwidth:</p>
  <div class="row">
    {% include 'auto.html' %}
  </div>
  {% endfor %}
</div>

{% endblock content %} {% block routerside %} 
{% for router in router|slice:":1"%}
   {% include 'routerside.html' %}
 {% endfor %} {% endblock routerside %}
