{% extends 'base.html' %} 
{% load static %} {% block title %}manual command
{% endblock title %} {% block judul %} Manual Command {% endblock judul %} 
{% block content %}
<form action="" class="form">
  {% csrf_token %} 
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Host</label>
    {{form.host}}
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Host</label>
    {{form.command}}
  </div>
  <div id="kirimc" class="btn btn-primary mb-4">Kirim</div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Ouput</label>
    {{form.output}}
  </div>

  <button class="btn btn-success">Simpan Sebagai Riwayat</button>
  
</form>
<br />



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function () {
    $("#kirimc").click(function () {
      const csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
      const host = document.querySelector("[name=host]").value;
      const command = document.querySelector("[name=command]").value;
      $.post(
        "http://127.0.0.1:8000/command",
        {
          csrfmiddlewaretoken: csrftoken,
          host: host,
          command: command,
        },
        function (response) {
          alert(response['data']);
          $('#out').val(response['data'])
        }
      );
    });
  });
</script>

{% endblock content %}
 {% block routerside %}
 {% include 'routerside.html' %} 
{% endblock routerside %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
