
{% extends 'base.html' %}
{% load static %}
{% block title %}Router | {% for data in data %}{{data.nama}}{% endfor %} {% endblock title %} 
{% block judul %}
Manual
{% endblock judul %}
{% block content %}
    <script>
        $(document).ready(function(){
            $("#send").click(function(){
              $("#out").val("demo_test.txt");
            });
          });

          $(document).ready(function(){
            $("#send").click(function(){
              $.get("demo_test.asp", function(data, status){
                alert("Data: " + data + "\nStatus: " + status);
              });
            });
          });
    </script>
    <form action="" class="form">
        {{form.as_p}}
        <input type="submit" value="Send" id="send" >
    </form>
    <br>
    
    <textarea id="out" rows="10" cols="70" placeholder=" ouput command ..." disabled></textarea>
    
{% endblock content %} 
{% block router %}

   {% for router in router %}
        <li class="nav-item ">
        <a class="nav-link {% if idk == router.id %}shadow text-white bg-info{% endif %}" href="{% url 'router' router.id %}">
            <span data-feather="file-text"> </span><img src="{% static 'icons/wifi.svg' %}" alt="">
            {{router.nama}}
        </a>
    </li>
    {% endfor %}
    
{% endblock router %}
