
{% extends 'base.html' %}
{% load static %}
{% block title %}manual command{% endblock title %} 
{% block judul %}
Manual Command
{% endblock judul %}
{% block content %}
    <script>
        $(document).ready(function(){
            $("#send").click(function(){
              $("#out").val("demo_test.txt");
            });
          });

          $(document).ready(function(){
            $("#send").click(function(){
              $.get("demo_test.asp", function(data, status){
                alert("Data: " + data + "\nStatus: " + status);
              });
            });
          });
    </script>
    <form action="" class="form">
        {{form.as_p}}
        <input type="submit" value="Send" id="send" >
    </form>
    <br>
    
    <textarea id="out" rows="10" cols="70" placeholder=" ouput command ..." disabled></textarea>
    
{% endblock content %} 
{% block routerside %}

   {% include 'routerside.html' %}
    
{% endblock routerside %}
