
{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock title %} 
{% block content %}
    
    {% comment %} {% if messages %}
       
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong> {{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %} {% endcomment %}
    
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-primary" type="submit" value="tambah Router">
    </form> 

{% endblock content %} 
{% block routerside %}

{% include 'routerside.html' %}
    
{% endblock routerside %}
