<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pusat Bantuan</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5><strong>Automation</strong></h5>
        <ol>
          <li>
            Automation dapat di lakukan pada bagian home dan juga bagian router
            yang ada pada bagian menu kiri lebih dianjurkan melakukan automation
            di router
          </li>
          <li>
            Ada dua pilihan dalam automation yaitu Simple Bandwitd dan simple
            and akurat
          </li>
          <li>
            automation tidak bisa di lakukan bersamaan karena tetapi automation
            simple and akurat dapat diperbarui
          </li>
          <li>
            terdapat mengatasi msalah otomatis pada saat automation jadi tidak
            ada yang perlu di hawatirkan
          </li>
        </ol>
        <h5><strong>Manual command</strong></h5>
        <ol>
          <li>
            pada manual command tidak memiliki hasil yang bagus untuk orang awam
            tapi tidak sesulit itu untuk dipahami
          </li>
          <li>
            terdapat form untuk router yang akan di remote pilih routernya,
          </li>
          <li>
            pada form yang kedua terdapat input untuk command yang akan di
            lakukan contoh command ada di bawah manual command bantuan ini
          </li>
          <li>
            setelah mengetik atau memilih command ada tombol untuk mengirim
            commnad. maka akan dilakukan proses secara paralel
          </li>
        </ol>
        <h5><strong>Contoh Command untuk perihal bandwidth</strong></h5>
        <ol>
          <li>"ip address print"</li>
          <li>"ip firewall magle print",</li>
          <li>"queue simple print", "queue tree print", "queue type print",</li>
          <li>"system reboot"</li>
        </ol>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
