<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pusat Bantuan</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5><strong>Automation</strong></h5>
        <ol>
          <li>
            Automation dapat di lakukan pada bagian home dan juga bagian router
            yang ada pada bagian menu kiri lebih dianjurkan melakukan automation
            di router
          </li>
          <li>
            Ada dua pilihan dalam automation yaitu Simple Bandwitd dan simple
            and akurat
          </li>
          <li>
            automation tidak bisa di lakukan bersamaan karena tetapi automation
            simple and akurat dapat diperbarui
          </li>
          <li>
            terdapat mengatasi msalah otomatis pada saat automation jadi tidak
            ada yang perlu di hawatirkan
          </li>
        </ol>
        <h5><strong>Manual command</strong></h5>
        <ol>
          <li>
            pada manual command tidak memiliki hasil yang bagus untuk orang awam
            tapi tidak sesulit itu untuk dipahami
          </li>
          <li>
            terdapat form untuk router yang akan di remote pilih routernya,
          </li>
          <li>
            pada form yang kedua terdapat input untuk command yang akan di
            lakukan contoh command ada di bawah manual command bantuan ini
          </li>
          <li>
            setelah mengetik atau memilih command ada tombol untuk mengirim
            commnad. maka akan dilakukan proses secara paralel
          </li>
        </ol>
        <h5><strong>Contoh Command untuk perihal bandwidth(manual commnad)</strong></h5>
        <ol>
          <li>"ip address print" => melihat daftar ip pada router</li>
          <li>"ip firewall magle print" => mengecek firewall mangle pada router</li>
          <li>"queue simple print" => pengecekan terhadap automasi simple bandwidth</li>
          <li>"queue type print" => pengecekan terhadap automasi (pendukung)</li>
          <li>"queue tree print" => pengecekan terhadap automasi simple dan akurat</li>
          <li>"system reboot" => untuk melakuan restart pada router jika terjadi permasalahan yang diperlukan restart</li>
        </ol>
        <h5><strong>Router</strong></h5>
        <ol>
          <li>router ditambahkan direkomendasikan orang yang lenih tau tentang jaringan</li>
          <li>menambah router dilakukan dengan meng click icon tambah pada menu bagian kiri tepatnya di router</li>
          <li>mengisi propertinya di sesuakan dengan keadaan router</li>
          <li>mengeditan juga harap dilakukan  yang lebih tau tentang jaringan</li>
          <li>penghapusan router dapat menghapus configurasi dan riwayatnya</li>
        </ol>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
