{% load static %}
<!DOCTYPE html>
<html lang="en">
{% url 'manual' as manual_url %}
{% url 'show' as show_url %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  <title>{% block title %} {% endblock title %}</title>

  <link rel="stylesheet" href="{% static 'css/stayle.css' %}" />

  <style>
    body{
      font-family:'Roboto', sans-serif;
    }
  </style>
</head>

<body>
  <header class="navbar navbar-dark sticky-top bg-warning flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 ml-5" href="{% url 'show' %}">Pauto</a>
    <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-control p-0" method="POST" action="{% url 'configlogurl' %}">

      <input id="searhid" name="keyword" class="form-control form-control-dark w-100 rounded-0" type="text" placeholder="Search"
        aria-label="Search" />
      <button style="display: none;" type="submit">sss</button>
    </form>

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap ">
        <a class="nav-link text-danger" href="{% url 'logout' %}">Log-out</a>
      </li>
    </ul>
  </header>

 



  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block border-top-0 bg-white sidebar border border-1 collapse position-fixed h-100 "
        >
        <div class=" pt-3 ">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link {% if request.path == show_url %} bg-info text-white {% endif %} " aria-current="page" href="{% url 'show' %}">
                <img src="{% static 'icons/braces.svg' %}" alt="">
                <span data-feather="home"></span>&nbsp;
                Automation
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == manual_url %} bg-info text-white {% endif %} " href="{% url 'manual' %}">
                <img src="{% static 'icons/terminal.svg' %}" alt="">
                <span data-feather="file"></span>&nbsp;
                Manual Config
              </a>
            </li>
            <hr>

            <li class="nav-item">
              <a class="nav-link" href="#">
                <img src="{% static 'icons/bug.svg' %}" alt="">
                <span data-feather="bar-chart-2"></span>&nbsp;
                Bug Report
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/cecep31/netauto">
                <span data-feather="layers"></span>
                <img src="{% static 'icons/file-person.svg' %}" alt="">&nbsp;&nbsp;
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <img src="{% static 'icons/cash.svg' %}" alt="">
                <span data-feather="shopping-cart"></span>&nbsp;
                Donate
              </a>
            </li>
          </ul>
          <hr>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span> Router</span>
            <a class="link-secondary" href="{% url 'addrouter' %}" aria-label="Add a new report">
              <img src="{% static 'icons/plus-circle.svg' %}" alt="">
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Current month
              </a>
            </li> {% endcomment %}
            {% block routerside %}
            {% endblock routerside %}


          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="">{% block judul %}
            {% endblock judul %}</h1>
           <!-- Button trigger modal -->
          <button type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
              <path d="M3 4.075a.423.423 0 0 0 .43.44H4.9c.247 0 .442-.2.475-.445.159-1.17.962-2.022 2.393-2.022 1.222 0 2.342.611 2.342 2.082 0 1.132-.668 1.652-1.72 2.444-1.2.872-2.15 1.89-2.082 3.542l.005.386c.003.244.202.44.446.44h1.445c.247 0 .446-.2.446-.446v-.188c0-1.278.487-1.652 1.8-2.647 1.086-.826 2.217-1.743 2.217-3.667C12.667 1.301 10.393 0 7.903 0 5.645 0 3.17 1.053 3.001 4.075zm2.776 10.273c0 .95.758 1.652 1.8 1.652 1.085 0 1.832-.702 1.832-1.652 0-.985-.747-1.675-1.833-1.675-1.04 0-1.799.69-1.799 1.675z"/>
            </svg>
            Bantuan
          </button>
          {% include 'bantuan.html' %}
        </div>

        <!-- {% comment %} <canvas
            class="my-4 w-100"
            id="myChart"
            width="900"
            height="380"
          ></canvas> {% endcomment %} -->
        <div id="main" style="display: none;">

          {% block content %}
          
          {% endblock content %}
        </div>


      </main>
    </div>
  </div>
  <p></p>
  <p></p>


  
  <script>
    $(document).ready(function(){
     
      $("#main").show("fast")
      //home
      $("#trigger").click(function(){
        $("#getstart").show(300);
        $("#home").hide(300);
        $('#trigger').hide();
        $('#trigger2').show();
      });
      
      $('#trigger2').click(function(){
        $('#trigger').show();
        $('#trigger2').hide();
        $("#getstart").hide(300);
        $("#home").show(300);
      });
      ////////////
      $("#auto2").click(function(){
        $(this).hide(300);
        $('#hapus2').hide(300);
        $('#auto2form').show(300);
      });
      $("#clsauto2form").click(function(){
        $('#auto2form').hide(300);
        $("#auto2").show(300);
        $('#hapus2').show(300);
      });
      $("#searhid").bind("enterKey",function(){
        //do stuff here
     });
    });

    
  </script>

  
</body>

</html>