{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <title>{% block title %}
    {% endblock title %}</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-info shadow">
            <a class="navbar-brand" href="#">PILPUT Bandwidth</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

</nav>
<div class="row no-gutters">
    <div class="col-md-2 ">
        <ul class="nav flex-column pt-3 pb-3 shadow">
            <li class="nav-item">
              <a class="nav-link active  ml-3" href="#"><i class="fas fa-user-cog mr-1"></i>Overview</a><hr>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-3 border" href="#"><h4>asikin aja</h4></a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-3 " href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-3 disabled text-white" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>

    </div>
    <div class="col-md-10">
        <div class="container mt-2">

            {% block content %}
            
            {% endblock content %}
        </div>
    </div>
</div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="https://kit.fontawesome.com/e8986ce0c1.js" crossorigin="anonymous"></script>
</body>
</html>