{% load static %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    {% if messages %}
    <script>
    $(document).ready(function(){
      $('.toast').toast('show')
     
    });
  </script>
    {% for message in messages %}
        <div id="liveToast" class="toast bg-info hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-warning text-white">
            <img src="{% static 'icons/bell.svg' %}" class="rounded me-2" alt="...">
            <strong class="me-auto">Result</strong>
            
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body ">
            {{ message }}.
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>