
{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock title %} 
{% block content %}
    {{massage}}
    <form action="{% url 'addr' %}" method="post">
        {% csrf_token %}
        {{formk.as_p}}
        <input type="submit" value="tambah Router">
        {% comment %} <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nama Router</label>
            <input type="text" class="form-control" name="nama"  placeholder="Contoh: Router sekretaris">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Host</label>
            <input type="text" class="form-control" name="host"  placeholder="Contoh: 192.168.xx.xx">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" class="form-control" name="host"  placeholder="Username pada Router">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="text" class="form-control" name="host"  placeholder="Password pada Router">
        </div>
        <button type="submit" class="btn btn-primary">Primary</button> {% endcomment %}
        
        
        
    </form> 


{% endblock content %} 
{% block router %}

   {% for router in router %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'router' router.id %}">
            <span data-feather="file-text"> </span><img src="{% static 'icons/wifi.svg' %}" alt="">
            {{router.nama}}
        </a>
    </li>
    {% endfor %}
    
{% endblock router %}
