
{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock title %} 
{% block judul %}
Automations
{% endblock judul %}
{% block content %}

     <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endblock content %} 

{% block router %}

    
    {% for router in router %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'router' router.id %}">
            <span data-feather="file-text"> </span><img src="{% static 'icons/wifi.svg' %}" alt="">
            {{router.nama}}
        </a>
    </li>
    {% endfor %}
    
{% endblock router %}
